@tailwind base;
@tailwind components;
@tailwind utilities;



#scroll {
    scrollbar-width: none;
}

#scroll::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width:800px) {
    #container {
        flex-direction: column;
        justify-content: unset;
    }

}